<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron result">
      <div class="row">
        <div class="result__primary col-xs-8">
            <div class="result__name"><%= title %></div>
          <div class="result__type_and_price">
              <span class="result__type"><%= theater %></span>
              <span class="result__price"></span>
          </div>
          <div class="result__distance"></div>
          <div class="result__vicinity"><%= vicinity %></div>
        </div>
        <div class="col-xs-4">
            <div id="poster" class="result__photo"></div>
          <div class="result__ratings" id="rating"></div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <img id="nextBtn" src="button_four.png" class="result__retry"></img>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
  </div>
</div>
