.category {
  margin-top: 20px;
}

.slider-label {
  padding-left: 1px;
  padding-right: 1px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  cursor: pointer;
  cursor: hand;
}

.genre.btn {
  padding-left: 5%;
  padding-right: 5%;
}

.genre-icon {
  font-size: 5em;
  padding: 15% 0;
}

.genre-text {
  font-size: 1em;
}

.result__map-icon {
  margin-right: 10px;
}

.result__accept {
  padding: 20px;
}

.result__accept, .result__retry, .result__restart {
  padding: 20px;
}

.result__photo {
  border: 1px solid rgba(0,0,0,.1);
  padding: 5%;
  border-radius: 5px;
}

.result__primary {
  text-align: left;
}

.result__name {
  font-size: 2em;
}

.result__location {
  margin: 20px;
}

@media (max-width: 767px) {
  .genre-text {
    font-size: .8em;
  }

  .genre-icon {
    padding: 5% 0;
    font-size: 2em;
  }

  .slider-label {
    display: none;
  }

  .logo {
    width: 50%;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
