extends ./layout.jade
block content
  .distance
    label Distance in Miles:&nbsp;
    label#distance 10.0
    .row
      .col-xs-1.slider-label 0.5
      .col-xs-10
        .slider.shor.slider-material-orange#slider
      .col-xs-1.slider-label 30
  .category
    .row
      .col-sm-4.selection
        img.button#foodButton(src="/img/food.jpg", data-categories="cafe restaurant")
      .col-sm-4.selection
        img.button#entertainmentButton(src="/img/ent.jpg", data-categories="spa zoo movie_rental museum")
      .col-sm-4.selection
        img.button#recreationButton(src="/img/rec.jpg", data-categories="shopping_mall night_club")
