extends ./layout.jade
block content
  .jumbotron
    .genre#foodButton(data-categories="cafe restaurant food")
      img(src="food.png")
    .genre#entertainmentButton(data-categories="casino shopping_mall amusement_park campground park night_club movie_rental movie_theater art_gallery stadium zoo")
      img(src="fun.png")
    .genre#flicksButton(data-categories="movies")
      img(src="flicks.png")
