doctype
html
  head
    title= "Decision"
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="jumbotron-narrow.css")
    script(data-main='/js/main.js', src="/js/lib/require.min.js")
  body
    div.container
      div.jumbotron
        h2 This app needs info!
