extends ./layout.jade
block content
  .row
    .col-sm-12
      .jumbotron.option-select
        .category
          .row
            .col-sm-4.selection
              .genre.btn.btn-block.btn-default.btn-raised.btn-material-light-blue#foodButton(data-categories="cafe restaurant food")
                .genre-icon.icon-food
                .genre-text Food
            .col-sm-4.selection
              .genre.btn.btn-block.btn-default.btn-raised.btn-material-deep-purple#entertainmentButton(data-categories="movie_rental movie_theater art_gallery stadium zoo")
                .genre-icon.icon-movie
                .genre-text Entertainment
            .col-sm-4.selection
              .genre.btn.btn-block.btn-default.btn-raised.btn-material-deep-orange#recreationButton(data-categories="casino shopping_mall amusement_park campground park night_club")
                .genre-icon.icon-binocular
                .genre-text Recreation
