extends ./layout.jade
block content
  div.distance
    label Distance in Miles:&nbsp;
    label#distance 5
    div.row
      .col-sm-1.slider-label 0.5
      .col-sm-10.slider
        div#slider
      .col-sm-1.slider-label 30
  div.category
    div.row
      div.col-sm-4.selection
        img(src="food.jpg" data-categories='cafe restaurant')#foodButton
      div.col-sm-4.selection
        img(src="ent.jpg" data-categories='spa zoo movie_rental museum')#entertainmentButton
      div.col-sm-4.selection
        img(src="rec.jpg" data-categories='shopping_mall night_club')#recreationButton
