doctype
html
  head
    title= "Decision"
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="jumbotron-narrow.css")
  body
    div.container
      div.jumbotron
        h2 This app needs info!
