doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= "Deci𝟖ion"
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bower_components/bootstrap-material-design/dist/css/roboto.min.css")
    link(rel="stylesheet", href="/bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css")
    link(rel="stylesheet", href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css")
    link(rel="stylesheet", href="/css/lib/icomoon/style.css")
    link(rel="stylesheet", href="/css/jumbotron-narrow.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js")
    script(src="/bower_components/bootstrap-material-design/dist/js/material.min.js")
    script(src="/bower_components/geolib/dist/geolib.min.js")
    script(src="/js/GoogleAnalytics.js")
    script(src="/bower_components/geolocator/src/geolocator.min.js")
    script(data-main='/js/main.js', src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js")
  body
    .container
      .row
        .col-sm-12
          img.logo(src="logo.png")
      .content
        block content
